services:

  filebrowser:
    image: gtstef/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - "8200:80"
    environment:
      - TZ=Europe/Madrid
    volumes:
      - ./config.yaml:/home/filebrowser/config.yaml
      - ./documents:/documents
      - ./photos:/photos
      - ./movies:/movies
      - ./data:/home/filebrowser/data
